html {
    scroll-snap-type: y mandatory; /* Comando para o ditar o comportamento do scroll, afim de alinhar diretamente aos blocos de seção */
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: center;
    scroll-padding-top: 80px;
}


body {
    font-family: 'Raleway', sans-serif; /* Utilizado a fonte RALEWAY, disponibilizada pelo google fonts */
    font-size: 1rem;
    width: 90%;
    margin: 50px;
    background-color: #B0413E;
    word-wrap: break-word;
    border: 10px;
}

.menu { 
    padding-bottom: 50px; /* Espaçamento para melhor visualização do Menu */
}

.opcoes {
    min-width: 100vh;
    margin: auto;
    justify-content: space-evenly; /* Uso de justify-content para um equilíbrio dentro do menu */
    width: 50%;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    border-style: solid;
    background-color: #F1E0CE;
    border-color: #F1E0CE;
    border-width: 5px;
    border-radius: 50px;
}

.home {
    display: flex;
    justify-content: space-between;
}


.quem-sou {
    text-align: left;
    margin: auto;
    width: auto;
    height: 100vh;
    font-size: 300%;
    padding-top: 10vh;
}

.sobre-mim{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formacao {
    height: 100vh;
    padding-top: 10vh;
}

.contato {
    height: 80vh;
    padding-top: 40vh;
}

.portfolio {
    height: 100vh;
    padding-top: 10vh;
}

.portfolio-programacao { /* */
    height: 60vh;
    border-style: solid;
    background-color: #A2C5C9;
    border-color: #A2C5C9;
    border-width: 5px;
    border-radius: 12px;
    padding: 50px;
    font-size: 1.3rem;
}
.portfolio {
    height: 60vh;
    border-style: solid;
    background-color: #A2C5C9;
    border-color: #A2C5C9;
    border-width: 5px;
    border-radius: 12px;
    padding: 50px;
}

.formatacao-programacao {
    display: flex;
    justify-content: space-around; /* */
}

.sub-titulo {
    width: auto;
    scale: 200%;
    text-align: center;
    padding-bottom: 20px;
}

h3 {
    width: auto;
    scale: 200%;
    text-align: center;
    padding-bottom: 20px;
}

.texto {
    margin: auto;
    padding: 10px;
    border-style: solid;
    background-color: #A2C5C9;
    border-color: #A2C5C9;
    border-width: 5px;
    border-radius: 12px;
}

.foto-perfil{
    width: 100%;
    margin: 50px;
    scale: 100%;
    border-radius: 6px;
    border: 50px;
}

a {
    color: #B0413E;
    text-decoration: none;
    font-weight: 800;   
}

.texto-formacao {
    margin: auto;
    padding: 10px;
    border-style: solid;
    background-color: #A2C5C9;
    border-color: #A2C5C9;
    border-width: 5px;
    border-radius: 12px;
    font-size: 2rem;
}

.texto-contato {
    font-size: 2rem;

}

.redes {
    display: flex;
    justify-content: space-around;
}

.img-redes { /*Classe criada para suprimir e padronizar o tamanho da imagem */
    height: 100px;
    width: 100px;
}

.img-portfolio {
    height: 300px;
    width: 300px;
}

.divisor {
    padding: 50px;
}

.contato-teste {
    margin: auto;
    padding: 10px;
    border-style: solid;
    background-color: #A2C5C9;
    border-color: #A2C5C9;
    border-width: 5px;
    border-radius: 12px;
}